model_name: mandarin_opencpop-extension-cnhubert

# settings
float32_matmul_precision: high
random_seed: 123456

# dataloader
binary_folder: data/binary_base

dataloader_workers: 2
dataloader_prefetch_factor: 2
oversampling_weights: [ 1, 1, 1 ] # full_label, weak_label, no_label
batch_max_length: 100 # unit: seconds
binning_length: 1000 # unit: seconds
drop_last: False

# model
model:
  hidden_dims: 192
  down_sampling_factor: 2
  down_sampling_times: 3
  channels_scaleup_factor: 1.3

optimizer_config:
  total_steps: 100000
  weight_decay: 0.1
  lr:
    backbone: 0.001
    head: 0.001
  freeze:
    backbone: False
    head: False

loss_config:
  losses:
    weights: [ 8.0, 0.1, 0.01, 0.1, 2.0 ]
    enable_RampUpScheduler: [ False,False,False,True,True ]
  function:
    num_bins: 10
    alpha: 0.999
    label_smoothing: 0.08
    pseudo_label_ratio: 0.3

# trainer
accelerator: auto
devices: auto # num_devices
precision: bf16-mixed # bf16-mixed , 32-true
gradient_clip_val: 0.5
gradient_clip_algorithm: norm #value
val_check_interval: 1000 # 0.25

save_top_k: 5
save_every_steps: 1000
